.submenus_container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 1em;
    transition: all ease-in-out .2s;
}

.submenu {
    display: flex;
    flex-direction: column;
    gap: .5em;

    padding-left: 1em;
    margin-bottom: 1em;
}

.submenu_title_container {
    padding-left: .5em;
    border-bottom: 1px solid #fff;
}

.submenu_title {
    padding: .2em;
    padding-right: 0;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
}

.submenu_list {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.submenu_list_item {
    padding-left: 1em;
    list-style-type: none;
}

@media (min-width: 720px) {
    .submenus_container {
        position: absolute;
        top: 4.5em;
        left: 50%;
        transform: translateX(-50%);

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
        gap: 1em;

        padding: 1em 1.2em;
        width: 80%;
        max-height: 60vh;
        overflow-y: scroll;


        background-color: var(--cls-background);
        border-radius: 1em;
    }

    .submenus_container::-webkit-scrollbar {
        width: 8px;
        margin-right: .5em;
    }

    .submenus_container::-webkit-scrollbar-thumb {
        background-color: #fff;
        border-radius: 4px;
    }

    .submenu {
        display: flex;
        flex-direction: column;
        gap: .5em;

        height: fit-content;
        padding: 0 0 0 .5em;
        margin: 0;

        border-left: 1px solid #fff;
    }

    .submenu_title_container {
        padding: 0;
        border: none;
    }

    .submenu_list_item {
        padding: 0;
    }
}

@media (min-width: 1280px) {
    .submenus_container {
        max-width: 920px;
    }

    .submenu {
        max-width: 320px;
    }
}