.submenus_container{
    position: absolute;
    top: 100%;

    display: flex;
    justify-content: center;

    margin-top: 1em;
    padding: 1em;

    background-color: var(--cls-primary);
    box-shadow: 0 0 .4em #ffffff7b;
    border-radius: 1em;

    opacity: 1;
    transition: all .2s ease-in-out ;

    z-index: 10;
}

.submenus_container.hidden{
    opacity: 0;
    transform: translateY(-10px);
}

.submenu{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;

    height: 100%;
}

.submenu_title_container{
    width: 100%;
    padding: 0 2em 0 1em;

    margin-bottom: .5em;
}
.submenu_title{
    text-align: start;
    font-weight: 600;
    text-decoration: none;
}
.submenu_list{
    list-style-type: none;
    width: 100%;
    height: 100%;
}
.submenu:not(:last-child)::after{
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    bottom: 0;

    width: 1px;
    background-color: #0000001e;
}

.submenu_title{
    color: #fff;
}