.menuButton_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2em;

    padding: .3em 1em;

    border-radius: 2em;

    transition: all 0.2s ease-in-out;
}

.menuButton_container:hover{
    background-color: var(--cls-primary-op-60);
    background-color: #00000099;
}

.menuButton_link{
    text-decoration: none;
}
.menuButton_title{
    cursor: pointer;

    color: #fff;
}

.menuButton_dropdownIcon{
    display: flex;
    align-items: center;

    font-size: 1.2em;
    color: #fff;
}

.menuButton_dropdownIcon > *{
    transition: all .6s;
    transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.menuButton_container:hover .menuButton_dropdownIcon > *{
    transform: rotate(540deg);
}