.submenuButton_container{
    position: relative;
    display: flex;
    align-items: center;

    width: 100%;
    padding: 0 1em;

    color: #fff;

    transition: all 0.2s ease-in-out;
}
.submenuButton_container:hover{
    
    background-color: #ffffffbe;
    color: var(--cls-primary);

    & .submenuButton_title{
        color: var(--cls-primary);
    }
}
.submenuButton_icon{
    position: relative;
    display: flex;
    align-items: center;
    
    font-size: 1.4em;
}
.submenuButton_link{
    text-decoration: none;
}
.submenuButton_title{
    cursor: pointer;

    width: 100%;
    padding: .2em 1em;

    font-size: .9em;
    color: #fff;
    
    transition: all 0.2s ease-in-out;
}