.header_container {
    padding: 0 .5em;
    width: 100%;
    height: 10vh;
}
.fixed_container{
    position: fixed;
    top: 0;

    width: 100%;
}
.top_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1em 0;
}

.logo_container .logo {
    background: var(--cls-gradient);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.right_container {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1em;
}

.cta_container .cta_button {
    padding: 1em;

    font-weight: 600;
    color: #fff;
    background: var(--cls-gradient);
    border: none;
    border-radius: .8em;
    
    outline: none;
}

.burger_menu_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav_container{
    position: absolute;
}